$main-blue-color: #0099da;
$main-black-color: #1d1f20;
$main-gray-color: #808890;

.icon-location {
    width: 25px;
    height: 25px;
    fill: $main-gray-color;
}

.Catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Card {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;

    &-Image {
        width: 100%;
    }

    &-Model {
        color: $main-blue-color;
        font-size: 1rem;
        font-weight: bold;
    }

    &-Price {
        color: $main-black-color;
        font-weight: bold;
    }
}

.Features {
    font-size: 12px;
    color: $main-gray-color;

    &-List {
        padding-left: 20px;
    }

    &-Other {
        color: $main-blue-color;
    }
}

.Dealer {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $main-blue-color;
}